@mixin text($color, $opacity: 1) {
  color: transparentize($color, 1 - $opacity);
}
@mixin bg($color, $opacity: 1) {
  background-color: transparentize($color, 1 - $opacity);
}
@mixin outline($color, $opacity: 1) {
  box-shadow: 0 0 0 0.25rem transparentize($color, 1 - $opacity);
}
@mixin border(
  $border-color: $main-border-color,
  $border-opacity: 1,
  $border-width: 1px,
  $border-type: solid
) {
  border: $border-width $border-type
    transparentize($border-color, 1 - $border-opacity);
}
