@mixin p($padding-size) {
  padding: #{$padding-size * 0.25rem};
}
@mixin pl($padding-size) {
  padding-left: #{$padding-size * 0.25rem};
}
@mixin pr($padding-size) {
  padding-right: #{$padding-size * 0.25rem};
}
@mixin pt($padding-size) {
  padding-top: #{$padding-size * 0.25rem};
}
@mixin pb($padding-size) {
  padding-bottom: #{$padding-size * 0.25rem};
}
@mixin px($padding-size) {
  padding-left: #{$padding-size * 0.25rem};
  padding-right: #{$padding-size * 0.25rem};
}
@mixin py($padding-size) {
  padding-top: #{$padding-size * 0.25rem};
  padding-bottom: #{$padding-size * 0.25rem};
}
