@mixin w($width) {
  @if $width == full {
    width: 100%;
  } @else if $width == screen {
    width: 100vw;
  } @else if $width == max {
    width: max-content;
  } @else if $width == max {
    width: min-content;
  } @else if $width == fit {
    width: fit-content;
  } @else {
    width: #{$width * 0.25rem};
  }
}
@mixin max_w($width) {
  @if $width == full {
    max-width: 100%;
  } @else if $width == screen {
    max-width: 100vw;
  } @else if $width == max {
    max-width: max-content;
  } @else if $width == max {
    max-width: min-content;
  } @else if $width == fit {
    max-width: fit-content;
  } @else {
    max-width: #{$width * 0.25rem};
  }
}
@mixin min_w($width) {
  @if $width == full {
    min-width: 100%;
  } @else if $width == screen {
    min-width: 100vw;
  } @else if $width == max {
    min-width: max-content;
  } @else if $width == max {
    min-width: min-content;
  } @else if $width == fit {
    min-width: fit-content;
  } @else {
    min-width: #{$width * 0.25rem};
  }
}
@mixin h($height) {
  @if $height == full {
    height: 100%;
  } @else if $height == screen {
    height: 100vh;
  } @else if $height == max {
    height: max-content;
  } @else if $height == max {
    height: min-content;
  } @else if $height == fit {
    height: fit-content;
  } @else {
    height: #{$height * 0.25rem};
  }
}
@mixin max_h($height) {
  @if $height == full {
    max-height: 100%;
  } @else if $height == screen {
    max-height: 100vh;
  } @else if $height == max {
    max-height: max-content;
  } @else if $height == max {
    max-height: min-content;
  } @else if $height == fit {
    max-height: fit-content;
  } @else {
    max-height: #{$height * 0.25rem};
  }
}
@mixin min_h($height) {
  @if $height == full {
    min-height: 100%;
  } @else if $height == screen {
    min-height: 100vh;
  } @else if $height == max {
    min-height: max-content;
  } @else if $height == max {
    min-height: min-content;
  } @else if $height == fit {
    min-height: fit-content;
  } @else {
    min-height: #{$height * 0.25rem};
  }
}
