// Colors
$primary-color: #555fb9;
$danger-color: #de3c63;
$success-color: #30b987;
$warning-color: #eea620;
$white: #fff;
$black: #000;
$heading-text-color: #565d69;
$subheading-text-color: #6b7280;
$disabled: #c4c5cc;
$main-border-color: #c6cddb;
$placeholder-color: #818897;
$main-background: #f6f8fd;
$transparent: rgba(255, 255, 255, 0);
